.contact-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-visual .contact-visual-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-visual .contact-visual-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.35;
}

.contact-info {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.contact-info .contact-info-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  will-change: gap;
}

.contact-info .contact-info-row p {
  flex: 1;
}

.contact-info .contact-info-row p:nth-child(1) {
  text-align: right;
}

.contact-info .contact-info-row p:nth-child(2) {
  opacity: 0.35;
}

.contact-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.contact-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1000px) {
  .contact-info .contact-info-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 !important;
  }

  .contact-visual .contact-visual-icon img {
    opacity: 0.25;
  }

  .contact-footer {
    display: none;
  }
}
