footer {
  position: relative;
  width: 100%;
  height: 75svh;
  background-color: var(--fg);
  color: var(--bg);
  overflow: hidden;
}

footer ::selection {
  background-color: var(--bg);
  color: var(--fg);
}

.footer-container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-35%);
  will-change: transform;
}

.footer-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-row:nth-child(1) .footer-col:nth-child(1) {
  flex: 3;
}

.footer-row:nth-child(1) .footer-col:nth-child(2) {
  flex: 2.5;
  display: flex;
}

.footer-row:nth-child(1) .footer-col:nth-child(2) a {
  font-family: var(--type-2);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0.95;
  letter-spacing: -0.025rem;
  text-transform: none;
}

.footer-sub-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-sub-col a,
.footer-sub-col p {
  color: var(--bg);
  padding: 0;
}

.footer-row:nth-child(2) p {
  color: var(--bg);
}

@media (max-width: 1000px) {
  .footer-container {
    transform: translateY(0%) !important;
  }

  .footer-row:nth-child(1) {
    flex-direction: column;
    gap: 4rem;
  }

  .footer-row:nth-child(2) {
    padding-bottom: 6rem;
    flex-direction: column;
  }

  .footer-row h2 {
    width: 100%;
  }
}
