.sign-in-page {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.sign-in-page h1 {
  margin-bottom: 2rem;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
}

.sign-in-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 0.125rem solid var(--fg);
  background: transparent;
  color: var(--fg);
  font-family: var(--type-3);
  font-size: 0.875rem;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in-form input::placeholder {
  color: var(--fg);
  opacity: 0.5;
}

.sign-in-form input:focus {
  background-color: var(--fg);
  color: var(--bg);
}

.sign-in-form input:focus::placeholder {
  color: var(--bg);
  opacity: 0.75;
}

.sign-in-form button{
  width: 100%;
  padding: 0.75rem 1rem;
  border: 0.125rem solid var(--fg);
  background-color: var(--fg);
  color: var(--bg);
  font-family: var(--type-3);
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in-form button:hover {
  background-color: transparent;
  color: var(--fg);
}

@media (max-width: 768px) {
  .sign-in-form {
    max-width: 100%;
  }
}

.Forgot-Password button{
  background: none;
  border: none;
  color: var(--fg);
  font-family: var(--type-3);
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-top: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}


.confirmation-code input{
    width: 10%;
    padding: 0.2rem 1rem;
    border: 0.125rem solid var(--fg);
    background: transparent;
    color: var(--fg);
    font-family: var(--type-3);
    font-size: 0.875rem;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
