.menu-toggle-btn {
  position: fixed;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 10rem;
  padding-top: 2rem;
  border-radius: 50% 50% 0 0 / 80% 80% 0 0;
  background-color: var(--fg);
  color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  z-index: 100;
}

.menu-toggle-btn .hamburger-bar {
  width: 1.25rem;
  height: 0.1rem;
  background-color: var(--bg);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

.menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--fg);
}

#menu-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-overlay-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.menu-overlay-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.menu-overlay-nav a,
.menu-overlay-nav p,
.menu-overlay-footer a,
.menu-overlay-footer p {
  line-height: 1;
  color: var(--bg);
}

.close-btn {
  position: relative;
  transform: translate(-0.25rem, -0.5rem);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.15rem;
}

.close-btn .close-btn-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.9rem;
  height: 0.125rem;
  background-color: var(--bg);
}

.close-btn .close-btn-bar:nth-child(1) {
  transform: rotate(45deg);
}

.close-btn .close-btn-bar:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-overlay-items {
  display: flex;
  gap: 2rem;
}

.circular-menu {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.joystick {
  position: relative;
  width: 100px;
  height: 100px;
  background: var(--fg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: grab;
  z-index: 100;
}

.center-icon {
  position: absolute;
  color: var(--bg);
  font-size: 0.75rem;
}

.center-main {
  font-size: 1.5rem;
}

.center-up {
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.center-down {
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.center-left {
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.center-right {
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu-segment {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--fg);
  background: var(--bg);
  cursor: pointer;
}

.segment-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.segment-content ion-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.label {
  font-size: 0.75rem;
  padding: 0;
}

.menu-segment:hover {
  animation: flickerHover 300ms ease-in-out forwards;
  z-index: 10;
}

.menu-segment:hover .segment-content {
  animation: contentFlickerHover 300ms ease-in-out forwards;
}

.menu-overlay {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .segment-content ion-icon {
    font-size: 20px;
  }
}

@keyframes flickerHover {
  0% {
    background-color: var(--fg);
  }

  10% {
    background-color: var(--bg);
  }

  20% {
    background-color: var(--fg);
  }

  30% {
    background-color: var(--bg);
  }

  40% {
    background-color: var(--fg);
  }

  50% {
    background-color: var(--bg);
  }

  60% {
    background-color: var(--fg);
  }

  70% {
    background-color: var(--bg);
  }

  80% {
    background-color: var(--fg);
  }

  90% {
    background-color: var(--bg);
  }

  100% {
    background-color: var(--fg);
  }
}

@keyframes contentFlickerHover {
  0% {
    color: var(--bg);
  }

  10% {
    color: var(--fg);
  }

  20% {
    color: var(--bg);
  }

  30% {
    color: var(--fg);
  }

  40% {
    color: var(--bg);
  }

  50% {
    color: var(--fg);
  }

  60% {
    color: var(--bg);
  }

  70% {
    color: var(--fg);
  }

  80% {
    color: var(--bg);
  }

  90% {
    color: var(--fg);
  }

  100% {
    color: var(--bg);
  }
}
