.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  overflow: hidden;
  padding: 1.5rem;
}

.hero canvas#skyline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.hero .hero-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero .hero-footer .container {
  display: flex;
  justify-content: space-between;
}

.hero .hero-footer .container p {
  color: var(--bg);
}

@media (max-width: 1000px) {
  .hero-footer {
    display: none;
  }
}
