#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  opacity: 0.4 !important;
  z-index: -1;
}

.lab-hero {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-end;
}

.lab-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lab-hero h1 {
  color: var(--fg);
}

.lab-hero .lab-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--fg);
  opacity: 0;
  will-change: opacity;
  z-index: 1;
}

.lab-hero .lab-about-revealer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75svh;
  background-color: var(--fg);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
}

.lab-about {
  background-color: var(--fg);
  color: var(--bg);
  padding: 1rem 0;
}

.lab-about .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pie-transition {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--fg);
  overflow: hidden;
}

.pie-transition-outro-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  max-width: 1600px;
  color: var(--fg);
  z-index: 1;
}

.pie-transition-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 2;
}

.pie-transition-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pie-transition-footer p {
  color: var(--bg);
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
}

.stats .stats-header {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

.stats .stats-header-copy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 75%;
}

.stats .stats-content {
  width: 50%;
  height: 100%;
  min-height: 100svh;
  background-color: var(--bg);
  padding: 4rem 2rem 8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  overflow: hidden;
}

.stats .stats-content .stat-item {
  position: relative;
  width: 75%;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 0.25rem solid var(--fg);
  transform: translateX(250px);
  will-change: transform;
}

.stats .stats-content .stat-item .stat-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.clients {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--fg);
  padding: 8rem 0 16rem 0;
}

.clients .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.clients .clients-header {
  text-align: center;
}

.clients .clients-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-row {
  width: 100%;
  display: flex;
  gap: 25%;
  will-change: gap;
}

.client-row p {
  flex: 1;
  opacity: 0;
  will-change: opacity;
  padding: 0rem 0.25rem !important;
}

.client-row p:nth-child(1) {
  text-align: right;
}

@media (max-width: 1000px) {
  .lab-hero .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5rem;
  }

  .pie-transition-outro-header {
    width: 100%;
    padding: 2rem;
  }

  .stats {
    flex-direction: column;
  }

  .stats .stats-header {
    height: max-content;
    padding: 8rem 2rem 4rem 2rem;
  }

  .stats .stats-header,
  .stats .stats-content {
    width: 100%;
    position: relative;
  }

  .pie-transition-footer {
    display: none;
  }
}
