nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 10;
  mix-blend-mode: difference;
}

nav .container {
  display: flex;
  align-items: flex-start;
}

nav .nav-clock,
nav .nav-logo,
nav .nav-location {
  flex: 1;
}

nav .nav-clock {
  text-align: left;
}

nav .nav-location {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-location ion-icon {
  font-size: 0.6rem;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo a {
  position: relative;
  transform: translateY(-0.6rem);
  width: 1.75rem;
  height: 1.75rem;
}

.nav-logo a svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav .nav-clock p,
nav .nav-location p {
  color: var(--bg);
}

nav .nav-logo a svg path {
  fill: var(--bg);
}

nav .nav-location ion-icon {
  color: var(--bg);
}
