.work-hero {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.work-hero-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.work-hero-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.work-items {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 16rem;
}

.work-items .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.work-item-row {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

#work-item-row-1,
#work-item-row-3,
#work-item-row-5 {
  justify-content: flex-start;
}

#work-item-row-2,
#work-item-row-4 {
  justify-content: flex-end;
}

.work-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work-item-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.work-item-row a {
  padding: 0;
  display: inline-block;
  position: relative;
  width: 40%;
  height: 100%;
  aspect-ratio: 4/5;
  text-transform: none;
}

.work-item-info p {
  padding: 0;
}

.work-item-info p:nth-child(2) {
  opacity: 0.35;
}

.work-item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .work-hero-footer {
    display: none;
  }

  .work-hero h1 {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  .work-item-row a {
    width: 100%;
  }
}
