@font-face {
  font-family: "De Fonte Plus";
  src: url("/fonts/de-fonte-plus.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/dm-mono.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stylish";
  src: url("/fonts/stylish.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Russian";
  src: url("/fonts/russian.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}



:root {
  --bg: #C8CFC8;
  --fg: #000000;
  --type-1: "De Fonte Plus", sans-serif;
  --type-2: "Russian", sans-serif;
  --type-3: "DM Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
}

::-webkit-scrollbar {
  display: none;
}

/* lenis smooth scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* type — headers  */
h1,
h1.type-var-1,
h2,
h2.type-var-1,
h3,
h3.type-var-1 {
  text-transform: uppercase;
  font-family: var(--type-1);
  font-weight: 500;
  line-height: 0.8;
  margin-top: 0.5rem;
}

h1,
h1.type-var-1 {
  font-size: 5rem;
  letter-spacing: -0.25rem;
}

h2,
h2.type-var-1 {
  font-size: 3.5rem;
  letter-spacing: -0.15rem;
}

h3,
h3.type-var-1 {
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
}

h1.type-var-2,
h2.type-var-2,
h3.type-var-2 {
  text-transform: none;
  font-family: var(--type-2);
  font-weight: 400;
  line-height: 0.75;
}

h1.type-var-2 {
  font-size: 6rem;
  letter-spacing: -0.3rem;
}

h2.type-var-2 {
  font-size: 5rem;
  letter-spacing: -0.225rem;
}

h3.type-var-2 {
  font-size: 4rem;
  letter-spacing: -0.15rem;
}

@media (max-width: 1000px) {
  h1,
  h1.type-var-1,
  h2,
  h2.type-var-1,
  h3,
  h3.type-var-1 {
    text-transform: uppercase;
    font-family: var(--type-1);
    font-weight: 500;
    line-height: 0.85;
    margin-top: 0.5rem;
  }

  h1,
  h1.type-var-1 {
    font-size: 3rem;
    letter-spacing: -0.125rem;
  }

  h2,
  h2.type-var-1 {
    font-size: 2.25rem;
    letter-spacing: -0.075rem;
  }

  h3,
  h3.type-var-1 {
    font-size: 1.75rem;
    letter-spacing: -0.025rem;
  }

  h1.type-var-2 {
    font-size: 4rem;
    letter-spacing: -0.225rem;
  }

  h2.type-var-2 {
    font-size: 3.25rem;
    letter-spacing: -0.175rem;
  }

  h3.type-var-2 {
    font-size: 2.75rem;
    letter-spacing: -0.125rem;
  }
}

/* type — bodyCopy/base-links  */
p {
  font-family: var(--type-2);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025rem;
}

p.md {
  font-size: 1.65rem;
  letter-spacing: -0.03rem;
}

p.lg {
  font-size: 1.9rem;
  letter-spacing: -0.035rem;
}

a,
p.type-mono {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--type-3);
  font-size: 0.75rem;
  padding: 0;
  color: var(--fg);
}

@media (max-width: 1000px) {
  p {
    font-size: 1.25rem;
    letter-spacing: -0.025rem;
  }

  p.md {
    font-size: 1.5rem;
    letter-spacing: -0.03rem;
  }

  p.lg {
    font-size: 1.75rem;
    letter-spacing: -0.035rem;
  }
}

.container {
  width: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

/* diffuse text-animation */
[data-animate-variant="diffuse"] {
  filter: url(#blur-matrix) blur(0.25px);
  -webkit-filter: url(#blur-matrix) blur(0.25px);
}

[data-animate-variant="diffuse"] .word {
  filter: blur(75px);
  -webkit-filter: blur(75px);
  will-change: filter, opacity;
  opacity: 0;
}

/* split-reveal text-animation */
.line {
  position: relative;
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

/* page transition grid */
.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  z-index: 100000;
}

.transition-block {
  background-color: var(--fg);
  will-change: opacity;
  opacity: 0;
}
